body
{
    justify-content: center;
}
main
{
    background-color: darksalmon;
    width: 1000px;
    height: 950px;
}
nav
{
    border-top: 10px solid black;
    border-bottom: 5px solid black;
    border-left: 10px solid black;
    border-right: 10px solid black;
    background-color: greenyellow;
    width: 1000px;
    height: 100px;
}
.box
{
    background-color: burlywood;
    width: 160px;
    margin: 20px;
    height: 65px;
    float: left;
    
}
p
{
    text-align: center; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: crimson;
}
header
{
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 10px solid black;
    border-right: 10px solid black;
    background-color: lightseagreen;
    width: 1000px;
    height: 300px;
}
#banner
{
    background-color: lightgreen;
    width: 800px;
    height: 280px;
    margin: 10px;
    text-align: center;
    float: left;
}
#main
{
    width: 1000px;
    height: 500px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 10px solid black;
    border-right: 10px solid black;
}
.apple
{
    background-color: lightpink;
    width: 160px;
    height: 70px;
    margin: 10px;
    float: left;
}
aside
{
    background-color: lightsteelblue;
    width: 190px;
    height: 460px;
    margin: 20px;
    float: left;
}

.artic
{
    background-color: lightgoldenrodyellow;
    width: 500px;
    height: 460px;
    margin: 20px;
    float: left;
}
footer
{
    border-top: 5px solid black;
    border-bottom: 10px solid black;
    border-left: 10px solid black;
    border-right: 10px solid black;
    background-color: blueviolet;
    width: 1000px;
    height: 50px;
    float: left;
}
